@import "../partials/partials";

.bg{
    background-image: url('../../images/homepage/bg.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 510px;
    position: absolute;
    top: 0;
    overflow: hidden;

    &:after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
        background: linear-gradient(180deg, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.4) 35%, rgba(0,0,0,1) 100%);

        @include bp($s-md)
        {
            background: linear-gradient(180deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.8) 35%, rgba(0,0,0,1) 100%);
        }

    }
}

#selection{
    margin-top: 48px;
    padding-bottom: 54px;
    position: relative;

    @include bp($s-md)
    {
        margin-top: 100px;
        padding-bottom: 0;
    }
    
    h5{
        margin: 12px 0;
    }
    .title{
        max-width: 230px;
        height: auto;
        margin-bottom: 24px;

        @include bp($s-md)
        {
            max-width: 100%;
            margin-bottom: 0px;
        }
    }
    .arrow{
        position: absolute;
        background-image: url('../../images/homepage/banner-arrow.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position-y: bottom;
        bottom: 0;
        right: 0;
        width: 108px;
        height: 108px;

        @include bp($s-md)
        {
            width: 245px;
            height: 215px;
        }

    }
}

#vote{
    position: relative;
    background-image: url('../../images/homepage/bg-spray.png');
    background-repeat: repeat;

    @include bp($s-md)
    {
        margin-top: 80px;
        padding-bottom: 60px;
    }
    
    .title{
        margin-top: -48px;
    }

    ul{
        li{
            border: 2px solid $c-white;
            height: auto;
            background-color: black;
            margin-top: 35px;
            max-width: 100%;

            @include bp($s-sm)
            {
                max-width: 48%;
            }

            @media (max-width: 768px){
                margin-left: 1%;
                margin-right: 1%;
            }

            @include bp($s-md)
            {
                max-width: 100%;
                min-height: 415px;
            }

            .image{
                img{
                    margin-top: 12px;
                    width: 100%;
                    height: 180px;

                    @include bp($s-md){
                        height: 270px;
                    }
                }
            }

            .author{
                margin-top: 12px;
            }

            .voteArea{
                margin-top: 18px;
                display: flex;
                align-items: center;
                justify-content: center;

                @media(max-width: 1024px) {
                    margin-bottom: 18px;
                }
                
                p{
                    margin: 0;
                }

                .details{
                    .arrow{
                        position: relative;

                        &:after{
                            content: "";
                            width: 14px;
                            height: 14px;
                            background-image: url('../../images/homepage/double-arrow.svg');
                            background-size: contain;
                            background-position: center center;
                            background-repeat: no-repeat;
                            position: absolute;
                            top: 0;
                            right: -14px;

                            @include bp($s-md){
                                top: 4px;
                            }

                            @include bp($s-lg)
                            {
                                right: -10px;
                                width: 40px;
                                height: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}