@import "../partials/partials";

.bg-star{
    background-image: url("../../images/homepage/bg-spray.png");
    background-repeat: repeat;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

#artist{
    margin-top: 54px;
    background-image: url("../../images/homepage/bg-spray.png");
    background-repeat: repeat;

    .voteButton{
        .button{
            width: 100%;
        }
    }

    .slickCarrousel{
        width: 100%;
        margin-top: 24px;
        padding: 0;
        
        @include bp($s-sm){
            text-align: center;
        }
    
        img{
            height: 270px;
            width: 100%;
            max-width: 100%;

            @include bp($s-sm){
                height: 400px;
            }

            @include bp($s-md){
                height: 500px;
            }
        }
    }

    .slider-nav{
        display: none;
        width: 100%;
        padding: 0;
        cursor: pointer;

        @include bp($s-md){
            display: block;
        }

        .slick-prev,
        .slick-next{
            display: none !important;
        }
        
        img{
            padding-right: 12px;
            width: 400px;
            height: 175px;
        }
    }
}


#aboutArtist{
    padding-bottom: 48px;
    background-image: url("../../images/homepage/bg-spray.png");
    background-repeat: repeat;

    @include bp($s-md){
        padding-top: 48px;
    }

    .about{
        p{
            font-size: 18px;
        }
    }

    .mobile-button{
        width: 100%;
        min-height: 50px;
        margin: 32px 0;
        font-size: 16px;
        font-family: "acumin-semi-bold";
    }

    .desktop-text{
        position: relative;
        margin-top: 36px;

        p{
            font-size: 24px;
            font-family: "acumin-medium";
        }

        .top-quote{
            background-image: url("../../images/single/top-quote.svg");
            background-size: contain;
            background-repeat: no-repeat;
            position: absolute;
            top: 0;
            left: 0;
            width: 60px;
            height: 50px;
        }

        .bottom-quote{
            background-image: url("../../images/single/bottom-quote.svg");
            background-size: contain;
            background-repeat: no-repeat;
            position: absolute;
            bottom: 0;
            right: 0;
            width: 60px;
            height: 50px;
        }

        .text-box{
            padding: 40px 0 40px 40px;
        }
    }

    .author-image{
        display: flex;
    }
    .image-box{
        position: relative;
        margin: auto;

        .image{
            max-width: 100%;

            @include bp($s-sm){
                padding: 20px;
                
            }
        }

        .instagram{
            position: absolute;
            bottom: 56px;
            left: -18px;

            @include bp($s-md){
                left: 0;
            }
            
            .box{
                background-color: $c-white;
                position: relative;
                height: 36px;
                display: flex;
                justify-content: center;
                align-content: center;
                flex-direction: column;
                text-align: center;

                p{
                    color: $c-black;
                    font-size: 16px;
                    font-family: "acumin-bold";
                    padding-top: 18px;
                    padding-left: 24px;
                    padding-bottom: 18px;

                }

                &:after{
                    content: "";
                    background: url("../../images/single/after-iconek.svg");
                    width: 32px;
                    height: 36px;
                    position: absolute;
                    bottom: 0px;
                    left: 99%;
                }
            }
        }
    }
}
    