- if(!has_site_icon()):
	link(rel='apple-touch-icon-precomposed' sizes='57x57' href!=image( 'favicon/apple-touch-icon-57x57.png' ))
	link(rel='apple-touch-icon-precomposed' sizes='114x114' href!=image( 'favicon/apple-touch-icon-114x114.png' ))
	link(rel='apple-touch-icon-precomposed' sizes='72x72' href!=image( 'favicon/apple-touch-icon-72x72.png' ))
	link(rel='apple-touch-icon-precomposed' sizes='144x144' href!=image( 'favicon/apple-touch-icon-144x144.png' ))
	link(rel='apple-touch-icon-precomposed' sizes='60x60' href!=image( 'favicon/apple-touch-icon-60x60.png' ))
	link(rel='apple-touch-icon-precomposed' sizes='120x120' href!=image( 'favicon/apple-touch-icon-120x120.png' ))
	link(rel='apple-touch-icon-precomposed' sizes='76x76' href!=image( 'favicon/apple-touch-icon-76x76.png' ))
	link(rel='apple-touch-icon-precomposed' sizes='152x152' href!=image( 'favicon/apple-touch-icon-152x152.png' ))
	link(rel='icon' type='image/png' href!=image( 'favicon/favicon-196x196.png' ) sizes='196x196')
	link(rel='icon' type='image/png' href!=image( 'favicon/favicon-96x96.png' ) sizes='96x96')
	link(rel='icon' type='image/png' href!=image( 'favicon/favicon-32x32.png' ) sizes='32x32')
	link(rel='icon' type='image/png' href!=image( 'favicon/favicon-16x16.png' ) sizes='16x16')
	link(rel='icon' type='image/png' href!=image( 'favicon/favicon-128.png' ) sizes='128x128')
	meta(name='application-name' content!=echo(' bloginfo( "name" ) '))
	meta(name='msapplication-TileColor' content='#666666')
	meta(name='msapplication-TileImage' content!=image( 'favicon/mstile-144x144.png' ))
	meta(name='msapplication-square70x70logo' content!=image( 'favicon/mstile-70x70.png' ))
	meta(name='msapplication-square150x150logo' content!=image( 'favicon/mstile-150x150.png' ))
	meta(name='msapplication-wide310x150logo' content!=image( 'favicon/mstile-310x150.png' ))
	meta(name='msapplication-square310x310logo' content!=image( 'favicon/mstile-310x310.png' ))
- else:
	- wp_site_icon()
- endif