meta(charset!=echo(" bloginfo( 'charset' ) "))
meta(name='viewport' content='width=device-width, initial-scale=1.0')
link(rel='profile' href='http://gmpg.org/xfn/11')
link(rel='pingback' href!="<?php bloginfo( 'pingback_url' ); ?>")