.accordion {
	@mixin accordion {
		position: absolute;
		width: 100%;
		height: calc(100vh - 96px);
		background: white;
		top: calc(100% + 4px);
		left: 0;
		.menu-item {
			position: relative;
			&-has-children {
				&:after {
					position: absolute;
					font-family: "icomoon";
					content: "\e910";
					right: 0;
					top: 20px;
					// @include transform(translateY(20px));
					@include transition( transform $transition-default );
				}
			}
			&.accordion__item--is-active {
				&:after {
					@include transform(rotate(180deg));
				}
			}
		}
		.sub-menu {
			overflow: hidden;
			height: 0;
			padding-left: 20px;
			@include transition( height $transition-default );
			.menu-item:last-child {
				padding-bottom: 0;
			}
		}
	}
	@include accordion();
	&--mobile {
		@include bp(false, $s-sm) {
			@include accordion();
		}
	}
	&--tablet {
		@include bp($s-sm, $s-md) {
			@include accordion();
		}
	}

}