@import "../partials/partials";

.button{
    letter-spacing: -0.2px;
    font-size: 10px;
    font-family:"acumin-semi-bold";;
    text-transform: uppercase;
    border: solid 3px $c-beige;
    background-color: $c-beige;;
    color: $c-black;
    cursor: pointer;
    transition: all 0.25s linear;
    display: flex;
    align-items: center;
    justify-content: center;
    
    padding: 8px 2px;

    @include bp($s-md)
    {
        margin-top: 0px;
        font-size: 13px;
        padding: 12px 6px;
    }

    &:hover,
    &:active{
        background-color: black;
        color: white;
        border-color: white;
    }
}