#footer{
    background-color: #2E2E2E;
    color: $c-white;
    padding-top: 40px;
    padding-bottom: 100px;

    @media (min-width: 992px){
        padding-top: 100px;
    } 

    .logo{
        margin-top: -12px;
        margin-bottom: 40px;
    }

    p{
        margin: 0;
        font-size: 18px;
        line-height: 1.44;
    }
    
    .localization{
        margin-top: 24px;

        @media (min-width: 768px){
            margin-top: 0;
        } 
    }
}