.row {
	margin: 0 calc((#{$gutter/2}) * -1);
	&--flex {
		@include flex(
			$wrap: wrap
		);
	}
}

.wrap {
	display: block;
	max-width: $s-max-width;
	width: 100%;
	margin: 0 auto;
	padding: 0 20px;
	position: relative;
	&--offset {
		margin: 0 $gutter*-1;
		width: calc(100% + #{$gutter*2});
	}
	&--offset-xs {
		@include bp(false, $s-sm) {
			margin: 0 $gutter*-1;
			width: calc(100% + #{$gutter*2});
		}
	}
}

.cf {
	zoom: 1;
	clear: both;
}

[class*="col-"] {
	padding: 0 calc((#{$gutter} / 2));
	display: block;
	float: left;
}

$sizes : (
	("xs", false, $s-sm)
	("sm", $s-sm, $s-md)
	("md", $s-md, $s-lg)
	("lg", $s-lg, $s-xl)
	("xl", $s-xl, false)
);

@mixin make-grid( $size ) {
	@for $i from 1 through 12 {
		&-#{$size}-#{$i} {
			width: calc((#{$i}/12) * 100%);
		}
		&-#{$size}-offset-#{$i} {
			margin-left: calc((#{$i}/12) * 100%);
		}
	}
}

[class*="visible-"] { display: none; }

.hidden {
	display: none !important;
	@each $col, $min, $max in $sizes {
		@debug $min, $max, $col;
		@include bp($min, $max) {
			&-#{$col} {
				display: none;
			}
		}
	}
}

.visible {
	display: block !important;
	@each $col, $min, $max in $sizes {
		@debug $min, $max, $col;
		@include bp($min, $max) {
			&-#{$col} {
				display: block;
			}
		}
	}
}

.col {
	@include make-grid("xs");
	@each $col, $min, $max in $sizes {
		@include bp($min, $max) {
			@include make-grid($col);
		}
	}
}

.pull {
	@each $side in ( left, right, none ) {
		&--#{$side} {
			float: $side !important;
		}
	}
}