/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */

 .hamburger {
	font: inherit;
	display: inline-block;
	overflow: visible;
	margin: 0;
	padding: 0;
	cursor: pointer;
	transition-timing-function: linear;
	transition-duration: 0.15s;
	transition-property: opacity, filter;
	text-transform: none;
	color: inherit;
	border: 0;
	background-color: transparent;
	&.is-active:hover,
	&:hover {
		opacity: 0.7;
	}
	&.is-active .hamburger-inner {
		background-color: black;
		&:after,
		&:before {
			background-color: black;
		}
	}
}

.hamburger-box {
	position: relative;
	display: inline-block;
	width: 32px;
	height: 32px;
}

.hamburger-inner {
	top: 50%;
	display: block;
	margin-top: -2px;
	position: absolute;
	width: 32px;
	height: 2px;
	border-radius:2px;
	@include bp($s-sm) {
		height: 4px;
	}
	background-color: $c-white;
	@include transition(
		transform $transition-default,
		background $transition-default
	);
	&:after,
	&:before {
		position: absolute;
		width: 32px;
		height: 2px;
		border-radius:2px;
		@include bp($s-sm) {
			height: 4px;
		}
		background-color: $c-white;
		@include transition(
			transform $transition-default,
			background $transition-default
		);
	}
	&:after {
		display: block;
		content: "";
	}
	&:before {
		display: block;
		content: "";
		top: -10px;
		@include bp($s-sm) {
			top: -10px;
		}
	}
	&:after {
		bottom: -10px;
		@include bp($s-sm) {
			bottom: -10px;
		}
	}
}

.hamburger--squeeze {
	.hamburger-inner {
		transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
		transition-duration: 75ms;
		&:before {
		transition: top 75ms ease .12s,opacity 75ms ease;
		}
		&:after {
		transition: bottom 75ms ease 0.12s, transform 75ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
		}
	}
	&.is-active .hamburger-inner {
		transition-delay: .12s;
		transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		transform: rotate(45deg);
		&:before {
		top: 0;
		transition: top 75ms ease,opacity 75ms ease .12s;
		opacity: 0;
		}
		&:after {
		bottom: 0;
		transition: bottom 75ms ease, transform 75ms cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
		transform: rotate(-90deg);
		}
	}
}