#main-header{
    width: 100%;
    height: 93px;
    @include bp($s-md)
    {
        padding: 24px 0;
    }

    .wrap{
        display: flex;
        flex-direction: column;
        z-index: 50;
        height: 93px;

        .logo {
			display: block;
			float: left;
			z-index: 10;

            img {
				width: 100%;
			}

			@include bp($s-md)
			{
                margin-top: 18px;
				max-width: 432px;
				position: relative;
			}

			@include bp($s-lg)
			{
                margin-top: 0;
			}
        }

        .hamburger { 
			position: fixed;
			border: none;
			right: 16px;
			top: 24px;
			z-index: 101;

            @include bp($s-sm)
			{
                margin-top: 18px;
				max-width: 432px;
			}

			@include bp($s-md)
			{
				display: none; 
			}

			&.opened {
				.hamburger-inner {
					background-color: white;

					&:after, &:before {
						background-color: white;
					}
				}
			}
		}

        >menu{
            padding: 0;
            .main-menu{
                float: right;
                ul{
                    margin-top: 36px;
                    margin-left: 36px;
                    li{
                        color:white;
                        margin: 0 10px;
                        display: inline-block;
                        position: relative;
                        cursor: pointer;

                        &:first-of-type {
                            margin-left: 0;
                        }

                        &:last-of-type {
                            margin-right: 0;
                        }
                    }
                }
            }

			#main-menu-close
			{
				position: absolute;
				top: 0;
				right: 0;
				background-image: url('../images/blocks/btn-close.svg');
				width: 32px;
				height: 32px;
				background-size: contain;
				z-index: 80;
				cursor: pointer;
				filter: brightness(4.0);
			}

            .mobile-menu {
				display: block;
				position: fixed;
				width: 100vw;
				height: 100vh;
                background-color: $c-black;
				top: 0;
				right: -200%;
				z-index: 100;
                background-image: url("../images/homepage/bg-spray.png");
                background-size: 100%;
                background-repeat: repeat;
				transition: right $transition-default;

				&.opened {
					right: 0;
				}

				.opened-logo{
					margin-top: 14px;
					padding: 0 30px;
				}
                
				ul {

					&.first{
						position: relative;
						top: 25%;
						left: 50%;
						transform: translate(-50%, -25%);
						padding: 0 30px;

						li {
							display: block;
							width: 100%;
							color: $c-white;
							font-size: 20px;
							border-bottom: 1px solid $c-white;
							background-color: $c-black;
							position: relative;

							&:first-of-type{
								border-top: 1px solid $c-white;
							}
							
							p{
								font-size: 20px;
								padding: 20px 0;
							}

							&:after{
								content: "";
								background-image: url("../images/slick/next.svg");
								background-size: contain;
								width: 12px;
								height: 20px;
								position: absolute;
								top: 50%;
								transform: translateY(-50%);
								right: 0;
								
							}
						}
					}

					&.second{
						padding: 0;

						li{
							display: inline-block;
							margin-right: 24px;

							&:last-of-type{
								margin-right: 0;
							}
						}
					}
				}

				.bottom-section{
					padding: 30px;
					position: absolute;
					bottom: 0;
					
					.footer{
						font-size: 18px;
						font-family: "acumin-bold";
					}
				}
            }
        }
    }
}
