@import "../partials/partials";

@font-face {
	font-family:"acumin-pro-light";
	src:url("https://use.typekit.net/af/a2c82e/00000000000000003b9acaf4/27/l?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=n3&v=3") format("woff2"),url("https://use.typekit.net/af/a2c82e/00000000000000003b9acaf4/27/d?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=n3&v=3") format("woff"),url("https://use.typekit.net/af/a2c82e/00000000000000003b9acaf4/27/a?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=n3&v=3") format("opentype");
	font-display:auto;
	font-style:normal;
	font-weight:300;
}
	
@font-face {
	font-family:"acumin-medium";
	src:url("https://use.typekit.net/af/46da36/00000000000000003b9acaf6/27/l?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/46da36/00000000000000003b9acaf6/27/d?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/46da36/00000000000000003b9acaf6/27/a?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=n4&v=3") format("opentype");
	font-display:auto;
	font-style:normal;
	font-weight:400;
}

@font-face {
	font-family:"acumin-semi-bold";
	src:url("https://use.typekit.net/af/829fc1/00000000000000003b9acaf8/27/l?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=n5&v=3") format("woff2"),url("https://use.typekit.net/af/829fc1/00000000000000003b9acaf8/27/d?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=n5&v=3") format("woff"),url("https://use.typekit.net/af/829fc1/00000000000000003b9acaf8/27/a?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=n5&v=3") format("opentype");
	font-display:auto;
	font-style:normal;
	font-weight:500;
}
	
@font-face {
	font-family:"acumin-bold";
	src:url("https://use.typekit.net/af/027dd4/00000000000000003b9acafa/27/l?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=n6&v=3") format("woff2"),url("https://use.typekit.net/af/027dd4/00000000000000003b9acafa/27/d?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=n6&v=3") format("woff"),url("https://use.typekit.net/af/027dd4/00000000000000003b9acafa/27/a?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=n6&v=3") format("opentype");
	font-display:auto;
	font-style:normal;
	font-weight:600;
}

@font-face {
	font-family:"acumin-black";
	src:url("https://use.typekit.net/af/ac1071/00000000000000003b9acafe/27/l?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=n8&v=3") format("woff2"),url("https://use.typekit.net/af/ac1071/00000000000000003b9acafe/27/d?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=n8&v=3") format("woff"),url("https://use.typekit.net/af/ac1071/00000000000000003b9acafe/27/a?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=n8&v=3") format("opentype");
	font-display:auto;
	font-style:normal;
	font-weight:800;
}
	
@font-face {
	font-family:"acumin-ultra-bold";
	src:url("https://use.typekit.net/af/285b22/00000000000000003b9acb00/27/l?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=n9&v=3") format("woff2"),url("https://use.typekit.net/af/285b22/00000000000000003b9acb00/27/d?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=n9&v=3") format("woff"),url("https://use.typekit.net/af/285b22/00000000000000003b9acb00/27/a?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=n9&v=3") format("opentype");
	font-display:auto;
	font-style:normal;
	font-weight:900;
}

body {
	font-size: $f-size;
	color: $c-white;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	margin: 0;
}

.h1 {
	font-size: 109px;
	line-height: 0.55;
	font-size: 18px;

	@include bp($s-md){
		font-size: 32px;
	}
}

.h2 {
	font-size: 26px;
	font-family:"acumin-ultra-bold";
	text-transform: uppercase;

	@include bp($s-md)
    {
		font-size: 34px;
	}
}

.h3 {
	font-size: 20px;
	font-family:"acumin-bold";

	@include bp($s-md)
    {
		font-size: 24px;
	}
}

.h4 {
	font-size: 15px;
	font-family:"acumin-black";
	line-height: 22px;

	@include bp($s-md)
    {
		font-size: 22px;
	}
}

.h5 {
	font-size: 16px;

	@include bp($s-md)
    {
		font-size: 18px;
	}
}

.h6 {
	font-size: 16px;
	text-transform: uppercase;
}

.beige{
	color: $c-beige;
}

.white{
	color: $c-white;
}

span{
	&.subtitle{
		font-family: Arial, Helvetica, sans-serif;
		font-size: 45px;
		font-weight: 1000;
		word-spacing: 12px;
	}
}

p{
	margin: 8px 0;
	font-size: 10px;
	font-family:"acumin-semi-bold";

	@include bp($s-md)
    {
		font-size: 13px;
	}

	@include bp($s-lg)
    {
		font-size: 14px;
	}

	&.socials-block{
		font-size: 18px;
		font-family:"acumin-pro-light";
		line-height: 22px;

		@include bp($s-md)
		{
			line-height: 34px;
			font-size: 24px;
		}
	}

	&.about-action{
		font-family:"acumin-pro-light";
		font-size: 20px;
		line-height: 28px;
	}
}

a{
	color: $c-white;
    text-decoration: none;
}
