extends ../master

append styles
	- wp_enqueue_style( 'homepage-css', get_template_directory_uri() . "/library/css/pages/homepage.css", array(), null );

append variables
	:php
		wp_reset_postdata()

block template-name
	- // Template Name: Homepage	


block main
	.bg
	.dark-bg
	section#selection
		.arrow
		.wrap
			.row 
				.col-xs-12.col-md-4.col-md-offset-1
					img.title(src!=echo("get_template_directory_uri() . '/library/images/homepage/selecao-artes.svg'"), alt="Seleção de Artes")
				.col-xs-12.col-md-3.col-md-offset-2
					h2.h3.beige CHEGOU A HORA DE VOTAR 
					h5.h5 Escolha a arte que você quer ver nos muros do Posto Corinthians.
					h5.h5 Você pode votar quantas vezes quiser.
			.cf


	:php
		$args = array(
			"numberposts"=>-1,
			"post_type"=>"post",
			"order"=>"ASC",
			"post_status"=>"publish"
		);

		$the_query = new WP_Query( $args );	

	section#vote 
		.wrap
			.row 
				.title.col-md-offset-1
					h2.h2.beige Conheça os finalistas e vote!

				ul.col-xs-12.col-md-11
					-while ($the_query->have_posts()) : 
						-$the_query->the_post();
						li.col-xs-12.col-sm-6.col-md-5.col-lg-5.col-md-offset-1
							.image
								img(src!=echo('the_post_thumbnail_url()'), alt="Imagem") 
							.row
								.author.col-xs-12
									h3.h4.author-title!=the_title();
								.cf

								.voteArea
									.details.col-xs-6
										a(href!=echo("get_the_permalink()")) 
											p.arrow Clique para ver mais detalhes
									.col-xs-6
										.button.btn-vote(data-id!=echo('get_the_ID()')) Quero votar nesta
									.cf
					-endwhile
				.cf
	
	- get_template_part('blocks/socials', 'socials')

	- get_template_part('blocks/modals', 'modals')


	

	