@import "../partials/partials";

.dark-bg{
    display: none; 
    position: fixed; 
    z-index: 150; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: hidden;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

#btn-close, #btn-close2, #btn-close3{
    background-image: url('../../images/blocks/btn-close.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    filter: brightness(4.0);
    
    &:hover{
        transform: scale(1.2);
    }
}

#partial-result{
    padding: 48px 0;
    width: 960px;
    max-width: 100%;
    height: 100%;
    background-color: $c-black;
    background-image: url("../../images/homepage/bg-spray.png");
    background-repeat: repeat-y;
    background-size: 100%;
    display: none;
    border: 1px solid $c-white; 
    border-radius: 8px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 200;

    @include bp($s-sm){
        height: auto;
    }
    
    .title{
        padding: 0;
        margin-bottom: 12px;
    }

    .h2{
        font-size: 24px;

        @include bp($s-sm){
            font-size: 32px;
        }
    }

    .box{
        margin: 12px 0;
        border: 2px solid $c-white;
        height: 110px;
        border-spacing: 15px;

        @include bp($s-sm){
            height: 210px;
        }

        .image{
            float: left;
            width: 50%;
            height: 100%;
            max-height: 205px;
        }
        
        .box-content{
            padding: 0;
            height: 100%;

            p{
                margin: 0;
            }

            .author{
                padding: 6px;
                height: 60%;
                background-color: $c-black;
                
                @include bp($s-sm){
                    padding: 12px;
                }

                .h2{
                    font-size: 16px;

                    @include bp($s-sm){
                        font-size: 32px;
                    }
                }
            }

            .percentage{
                height: 40%;
                background-color: $c-medium-gray;
                display: flex;
                align-items: flex-start;
                justify-content: center;
                flex-direction: column;
                padding: 6px;

                .h3{
                    font-size: 14px;
                }

                @include bp($s-sm){
                    padding: 12px;
                }

                .vote-bar{
                    height: 3.5px;
                    margin-top: 3px;
                    width: 100%;
                    background-color: rgba(255,255,255,0.5);
                    border-radius: 8px;
                    position: relative;

                    @include bp($s-sm){
                        height: 8px;
                        margin-top: 6px;
                    }

                    .progress-bar{
                        position: absolute;
                        border-radius: 8px;
                        height: 100%;
                        left: 0;
                        background-color: $c-white;
                        animation: progress-animation 1s forwards;
                    }
                }
                
                @keyframes progress-animation {
                    from{
                        width: 0%;
                    }

                    to{
                        width: 10.22%;
                    }
                }
            }
        }
    }
}

#about-action{
    padding: 48px 0;
    width: 960px;
    max-width: 100%;
    height: 100%;
    overflow-y: scroll;
    background-color: $c-black;
    background-image: url("../../images/homepage/bg-spray.png");
    background-repeat: repeat-y;
    background-size: 100%;
    display: none;
    border: 1px solid $c-white; 
    border-radius: 8px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 200;


    @include bp($s-sm){
        max-height: 90%;
        height: auto;
    }

    .selection{
        margin-top: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .rule-box{
        margin-top: 80px;

        .h3{
            margin-top: 32px;
        }
    }

    .download{
        margin-top: 32px;
        padding-bottom: 32px;
        display: block;

        @include bp($s-sm)
        {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        button{
            width: 100%;
            font-family: "acumin-semi-bold";
            font-size: 23px;
            text-transform: none;
            
            @include bp($s-md)
            {
                width: 330px;
            }
        }
    }
}

#voting{
    width: 600px;
    max-width: 100%;
    height: 100%;
    color: $c-black;
    background-color: $c-white;
    display: none;
    border: 1px solid $c-white; 
    border-radius: 8px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 200;
    padding: 8px 6px; 

    #btn-close3{
        filter: brightness(0);
    }

    @include bp($s-sm){
        height: auto;
        padding: 18px 30px; 
    }

    p{
        font-size: 16px;
        line-height: 16px;
    }

    .title{
        margin-top: 14px;

        .h4{
            font-size: 20px;
        }
    }

    .authorImage{
        margin-top: 18px;
        padding: 0;
        position: relative;

        .voteConfirmed{
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $c-white;
            opacity: 0.85;
            display: none;

            .thanks{
                text-align: center;

                .symbol{
                    width: 37px;
                    height: 37px;
                    float: left;
                    margin-right: 12px;
                    background-color: blue;
                }

                p{
                    margin: 0;
                    font-family: "acumin-black";
                    font-size: 20px;
                }
            }
        }
        img{
            width: 100%;
            height: auto;
            max-height: 230px;

            @include bp($s-md){
                height: 300px;
            }
        }
    }

    .vote-area{
        .captcha{
            margin: 14px 0;
            height: 60px;
            background-color: blueviolet;
        }
    
        .voteButton{
            margin: 14px 0;
            .button{
                font-size: 16px;
                min-height: 50px;
            }
        }
    }

    .confirmed-vote-area{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        display: none;

        ul{
            padding: 0;

            li{
                display: inline-block;
                margin-left: 12px;
                margin-right: 12px;
                background-color: brown;

                &:first-of-type{
                    margin-left: 0;
                }

                &:last-of-type{
                    margin-right: 0;
                }

                .icon{
                    width: 24px;
                    height: 24px;
                }
            }
        }

        p{
            font-size: 16px;
            font-family: "acumin-semi-bold";
            text-transform: uppercase;
            line-height: 32px;

            &#show-partial-result{
                text-transform: none;
                font-family: "acumin-medium";
                cursor: pointer;
                text-decoration: underline;
            }
        }
    }
}

