@import "../partials/partials";

#socials{
    background-color: $c-black;

    @include bp($s-sm){
        background-color: $c-black;
        background-image: url('../../images/blocks/corinthians-arrow.png');
        background-position: right;
        background-repeat: no-repeat;
        background-size: auto 100%;
    } 

    @include bp($s-lg){
        padding-bottom: 60px;
    }
   
    color: $c-white;
    position: relative;

    .first-box{
        padding: 28px 0;

        @include bp($s-md){
            padding: 80px 0;
        }
    }

    p {
        margin-top: 24px;

        &.subdescription{
            font-size: 18px;
            font-family:"acumin-bold";
        }
    }

    .icons{
        margin-top: 16px;

        img{
            height: 34px;
            width: 34px;
        }
    }
    
    ul{
        padding: 0;
        li{
            margin-right: 24px;
            display: inline-block;

            &:last-of-type{
                margin:0;
            }

            .icon{
                &:hover,
                &:active{
                    filter: brightness(65%);
                }
            }
        }
    }

    .mobile{
        @media (max-width: 768px){
            padding: 0;
        } 
        .arrow{
            width: 100%;
        }
    }
}