// GENERAL VARS

// COLORS
$c-beige                    :#9f884c;
$c-black                    :#000000;
$c-white                    :#ffffff;
$c-light-gray               :#707070;
$c-medium-gray              :#808080;

// FONTS
$f-title					: "AvenirNext, sans-serif";
$f-sans						: "SFUIText, sans-serif";
$f-size						: 16px;


// SIZE
$s-max-width			: 1440px;
$gutter					: 24px;
$s-sm					: 768px; 	// 	Small devices
$s-md					: 1024px; 	// 	medium devices
$s-lg					: 1200px;	// large devices
$s-xl					: 1440px;	// extralarge devices

// ANIMATION
$animation-time			: 0.3s;
$ease					: ease-in-out;
$transition-default		: $animation-time $ease;


// VARIABLES
$img_path            : "../../images";
$font_path           : "../fonts";