extends index

append styles
	- wp_enqueue_style( 'archive', get_template_directory_uri() . "/library/css/archive/archive.css", false );

block main
	block archive-header
	block archive-content
		- foreach( $posts as $post ):
			- setup_postdata($post)
			- wp_reset_postdata()
		- endforeach
	block archive-footer