footer#footer
    .wrap
        .row 
            .col-xs-12.col-sm-5.col-md-5.col-md-offset-1
                img.logo(src!=echo("get_template_directory_uri() . '/library/images/footer/logo-footer.svg'") alt="Posto corinthians")
                p
                strong Aberto 24 horas para serviços essenciais 
                p #UseMascara
            .col-xs-12.col-sm-6.col-md-4.col-lg-3.col-sm-offset-1.col-lg-offset-2.localization
                    p <strong>LOCALIZAÇÃO</strong>
                    p Avenida Líder - 2000 Cidade Líder 
                    p São Paulo SP, 08280-005
                    p *Esquina com a Av. Maria Luiza Americano 
                    p Há 7 minutos da Neo Química Arena
            .cf

- get_template_part( 'layout/analytics', 'analytics' )