header#main-header
    .wrap
        menu
            .row 
                .col-xs-9.col-md-4.col-lg-4.col-md-offset-1 
                    a.logo(href!=echo("get_home_url()") title="Posto corinthians")
                        img(src!=echo("get_template_directory_uri() . '/library/images/header/logo.svg'") alt="Posto corinthians")
                .col-xs-12.col-md-6.col-lg-6
                    nav.main-menu.hidden-xs.hidden-sm.visible-md
                        ul 
                            li#menu-artist
                                a(href!=echo("get_home_url()")) 
                                    p Vote no seu artista preferido
                            li#menu-partial-result
                                p Resultado Parcial
                            li#menu-about-action
                                p Sobre a Ação
                .cf

                .col-xs-3.col-sm-3
                    button.hamburger.hamburger--squeeze(data-menu-toggle)
                        .hamburger-box
                            .hamburger-inner
                        #main-menu-close 
                    
          
                nav.mobile-menu.hidden-md.hidden-lg.hidden-xl
                    .col-xs-9.opened-logo
                        a(href!=echo("get_home_url()") title="Posto corinthians")
                            img(src!=echo("get_template_directory_uri() . '/library/images/header/logo.svg'") alt="Posto corinthians")
                    .cf

                    ul.first 
                        li#menu-artist
                            p Vote no seu artista preferido
                        li#menu-partial-result
                            p Resultado Parcial
                        li#menu-about-action
                            p Sobre a Ação

                    .col-xs-12.bottom-section
                        p.footer Siga nossas redes sociais
                        ul.second
                            li
                                a(href="https://www.facebook.com/Posto-Corinthians-101036895473208/" target="_blank") 
                                    img(src!=echo("get_template_directory_uri() . '/library/images/blocks/logo-facebook.svg'") alt="")
                            li
                                a(href="https://www.instagram.com/postocorinthians/" target="_blank") 
                                    img(src!=echo("get_template_directory_uri() . '/library/images/blocks/logo-instagram.svg'") alt="")
               