include ./mixins/_mixins

doctype html

html(lang="pt-br")

	block template-name

	block variables

	block query

	head
		
		- wp_head();
		
		block title
			title!=wp_title( "|" )
			
		
		block meta
			- get_template_part( 'layout/meta', 'meta' )

		block og-meta
			- get_template_part( 'layout/og-meta', 'og-meta' )

		block favicon
			- get_template_part( 'layout/favicon', 'favicon' )
		
		block styles

		script.
			var siteURL = "<?php echo home_url(); ?>";

	body("<?php body_class(); ?>").using-mouse
		- get_template_part( 'layout/analytics', 'meta' )

		block wrapper
			div#wrapper
				block header
					- get_header()
				main
					block main
			
			block footer
				- get_footer()
			
			block scripts
			
			- wp_footer()
	