extends master

append styles
	- wp_enqueue_style( 'single-css', get_template_directory_uri() . "/library/css/pages/single.css", array(), null );
	- wp_enqueue_style( 'slick', get_template_directory_uri() . "/library/css/third/slick.css", false );

append scripts
	- wp_enqueue_script( 'slick', get_template_directory_uri() . '/library/js/libs/slick.min.js', array ( 'jquery' ), null, true);
	- wp_enqueue_script( 'single-js', get_template_directory_uri() . '/library/js/libs/pages/single.min.js', array ( 'jquery' ), null, true);

append variables
	:php
		wp_reset_postdata()

block main
	.bg-star
	section#artist
		-$images = get_field('images');
		.wrap 
			.row
				.col-xs-12.col-sm-8.col-md-7.col-md-offset-1
					h1.h2.author-title!= the_title();
				.col-sm-4.col-md-3.hidden-xs.visible-sm.voteButton
					.button.btn-vote-single(data-id!=echo('get_the_ID()')) Votar no artista
				.cf
			
				.col-xs-12.col-md-10.col-md-offset-1
					ul.slickCarrousel
						-foreach($images as $image):
							li
								img(src!=echo("$image['url']") , alt="")
						-endforeach

					ul.slider-nav
						-if(sizeof($images) > 2):
							-foreach($images as $image):
								li
									img(src!=echo("$image['url']") , alt="")
							-endforeach
					-endif
				.cf
	
	section#aboutArtist
		.wrap
			.row
				.col-xs-12.col-md-5.col-md-offset-1
					.about
						h2.h3.beige Sobre o artista
						p!=the_content();
					.hidden-sm.hidden-md.hidden-lg.hidden-xl
						.button.btn-vote-single-mobile.mobile-button Votar no artista
					.desktop-text.hidden-xs.hidden-sm.visible-md
						.top-quote 
						.bottom-quote 
						.text-box
							p Doutor, eu não me engano. Meu coração é corintiano! Doutor, eu não me engano. Meu coração é corintiano.Eu não sabia mais o que fazer. Troquei um coração cansado de sofrer! Ah! Doutor, eu não me engano. <strong>Meu coração é Corinthiano.</strong>
				.col-xs-12.col-md-4.col-md-offset-1.author-image
					.image-box
						img.image(src!=echo("get_field('instagram-image')"), alt="")
						.instagram 
							a(href!=echo("get_field('instagram-link')") target="_blank") 
								.box
									p!=get_field('instagram-text')
				.cf

	- get_template_part('blocks/modals', 'modals')