append styles
	- wp_enqueue_style( 'modals-css', get_template_directory_uri() . "/library/css/blocks/modals.css", array(), null );


.dark-bg
:php
	$args = array(
		"numberposts"=>-1,
		"post_type"=>"post",
		"order"=>"ASC",
		"post_status"=>"publish"
	);

	$the_query = new WP_Query( $args );	
	
#partial-result
	#btn-close
	.wrap 
		.row 
			.col-xs-10.col-sm-7.col-md-5.col-sm-offset-1.title
				h1.h2.beige Confira o resultado parcial
			.cf
			
		.row
			-while ($the_query->have_posts()) : 
				-$the_query->the_post();	
				li.col-xs-12.col-sm-10.col-sm-offset-1
					.row
						.box
							img.image(src!=echo('the_post_thumbnail_url()'), alt="Imagem") 

							.col-xs-6.box-content
								.author
									h3.h2!=the_title();
								.percentage
									h4.h3 10,22%
									.vote-bar 
										.progress-bar
				.cf
			-endwhile

#about-action
	#btn-close2
	.wrap 
		.row 
			.col-xs-10
				img.logo(src!=echo("get_template_directory_uri() . '/library/images/header/logo.svg'"), alt="")
			.cf
		
			.col-xs-12.selection
				img(src!=echo("get_template_directory_uri() . '/library/images/homepage/selecao-artes.svg'"), alt="")
			.cf

			.rule-box
				.col-xs-12.col-md-10.col-md-offset-1.content
					h2.h2.beige Sobre a Ação
					h3.h3 LoremLorem ipsum dolor sit amet
					p.about-action Consectetur adipiscing elit. Fusce odio mauris, ultricies quis augue in, vehicula venenatis odio. Vestibulum vitae quam semper, eleifend augue in, congue orci. Maecenas eros nulla, aliquam in malesuada vel, vehicula vel diam. Vivamus sodales suscipit malesuada. Aenean at quam sit amet dui malesuada tincidunt at ac eros. Integer vehicula neque sit amet cursus tempor. Suspendisse placerat consequat erat, in bibendum turpis posuere id. Ut non viverra libero. Duis ut erat elementum, faucibus risus quis, mattis metus.

					h3.h3 Ut scelerisque odio a orci eleifend
					p.about-action Id ultrices felis hendrerit. Proin dui elit, pellentesque sit amet ex eget, hendrerit interdum metus. Aliquam quis lacus non nunc congue consectetur vitae at mauris. Sed commodo nisl eu purus imperdiet, ut maximus lacus vehicula. Integer nisl nulla, luctus quis diam eu, suscipit rhoncus lorem. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Phasellus eget leo nec libero dapibus elementum. Quisque aliquam velit dui, ullamcorper volutpat ante faucibus nec. Sed vestibulum venenatis mi.
				.cf
			
			.download.col-xs-12
				a(href="") 
					button.button Download regulamento

#voting 
	#btn-close3
	.wrap
		.row 
			.col-xs-12
				p.beige Confirmação de voto
			.cf

			.col-xs-12.title
				h4.h4
			.cf

			.col-xs-12.authorImage 
				img.image
				.voteConfirmed
					.thanks 
						.symbol
						p Obrigado pelo voto
			.cf
			
			.vote-area
				.col-xs-12.col-sm-7.captcha
				.col-xs-12.col-sm-5.voteButton 
					.button Confirmar Voto

			.confirmed-vote-area
				p Compartilhe seu voto 
				ul 
					li
						.icon 
					li 
						.icon 
					li
						.icon 
				p#show-partial-result Mostrar resultado parcial


script(src='https://www.google.com/recaptcha/api.js')
				