append styles
	- wp_enqueue_style( 'socials-css', get_template_directory_uri() . "/library/css/blocks/socials.css", array(), null );

#socials
	.wrap
		.row
			.col-xs-12.col-sm-6.col-md-5.col-lg-offset-1
				.first-box
					p.socials-block O Posto Corinthians é feito para a torcida abastecer e vibrar com o Timão! Qualidade e melhores preços nos combustíveis e serviços automotivos, além de espaços especiais para torcida aproveitar.
					p.subdescription Siga nossas redes sociais 
					.icons 
						ul 
							li 
								a(href="https://www.facebook.com/Posto-Corinthians-101036895473208/" target="_blank") 
									img.icon(src!=echo("get_template_directory_uri() . '/library/images/blocks/logo-facebook.svg'") alt="facebook")
							li 
								a(href="https://www.instagram.com/postocorinthians/" target="_blank") 
									img.icon(src!=echo("get_template_directory_uri() . '/library/images/blocks/logo-instagram.svg'") alt="instagram")
			.cf

			.col-xs-12.hidden-sm.hidden-md.hidden-lg.hidden-xl.mobile
				img.arrow(src!=echo("get_template_directory_uri() . '/library/images/blocks/corinthians-arrow.png'"), alt="corinthians")
			.cf
